<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet" href="/static/css/sweetalert2.min.css"/>

	<!-- Sweet Alert V8.13.0 JS file-->
	<script th:src="@{/js/sweetalert2.min.js}" src="/static/js/sweetalert2.min.js" ></script>

    <title th:text="${title}">Hello, world!</title>
  </head>
  <body>
    <!-- Inicio nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary">

        <a class="navbar-brand" href="#" >ADMINISTRADOR DE CONTACTOS INTELIGENTE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-uppercase">

            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Acerca de mí</a>
            </li>

           
            <li class="nav-item">
              <a class="nav-link " ><span th:text="${user.nombre}"></span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link " th:href="@{/logout}">Salir</a>
            </li>
            

          </ul>
          
        </div>
      </nav>
      <!-- Final nav -->

      <!-- Sidebar -->
      <div onclick="toggleSidebar()" class="sidebar">
        <span class="crossBtn">&times;</span>
        <a href="#" class="item"> <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
        <a href="#" class="item"> <i class="fas fa-id-card-alt"></i> Ver contactos</a>
        <a href="#" class="item"> <i class="fas fa-pencil-alt"></i> Agregar contacto</a>
        <a href="#" class="item"> <i class="fas fa-user-circle"></i> Tu perfil</a>
        <a href="#" class="item"> <i class="fas fa-cogs"></i> Configuración</a>
        <a href="#" class="item"> <i class="fas fa-sign-out-alt"></i> Salir</a>
        <div class="divider"></div>
      </div>
      <!-- End -->

      <!-- Content  -->
      <div class="content">

        <i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
        <div th:replace="${content}"></div>
      </div>

      <!-- End Content  -->
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>