<!DOCTYPE html >
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>

    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1>Administrador de Contactos Inteligente</h1>
            <p>Comience a recopilar sus contactos de una manera muy inteligente. Proporcionamos una forma muy eficiente e inteligente de manejar contactos.</p>
            <button class="btn bg-primary btn-lg text-white">Comenzar</button>
        </div>
    </section>
</body>
</html>